<?xml version="1.0"?>
<root>
  <Baseline enable='True'>  
<!--Subtraction of the baseline determined by the alps method from the raw signal-->     
          <object name='apls_raw' type='apls'>
                  <lambda>3e7</lambda>
                  <ratio>1.2</ratio>
                  <data>Raw</data> 
          </object>
  </Baseline>  
    <Filters enable='True'>
    <!--The moving average filter is applied to the apls_raw signal-->
        <object type='MovingAverage' name='mva'>       
          <windowsize>0.02</windowsize>
          <data>apls_raw</data>
       </object>
    <!--The BandReject filter (band reject in interval 45-55 Hz) is applied to the mva signal-->
        <object type='BandReject' name='mva1'>  
          <LowFreq>45</LowFreq>
          <HighFreq>55</HighFreq>
          <Order>4</Order>
          <data>mva</data>
       </object>
 
    <!--The BandPass filter (band pass in interval 0.1-45 Hz) is applied to the raw signal-->
       <object type='BandPass' name='bandpass'>                
          <LowFreq>0.1</LowFreq>
          <HighFreq>45</HighFreq>
          <Order>4</Order>
          <data>apls_raw</data>
       </object> 
         
  </Filters>


  <PeakDetect enable='True'>   
<!--Find peaks (minimum) in mva1 signal. -->       
          <object name='peak_mva'>
                      <data>mva1</data>
                      <interval>80</interval>
                      <threshold>0.13</threshold>
                      <type>min</type>
          </object>
  
          <object name='peak_bandpass'>
                      <data>bandpass</data>
                      <interval>80</interval>
                      <threshold>0.13</threshold>
                      <type>min</type>
          </object>
   
          <object name='peak_raw'>
                      <data>apls_raw</data>
                      <interval>80</interval>
                      <threshold>0.13</threshold>
                      <type>min</type>
          </object>
  </PeakDetect>  


  <QRSDetect enable='True'>
<!--Find QRS complex by wavelet analisis in mva1 signal--> 
    <object name='qrs_mva'> 
      <data>mva1</data> 
      <interval>10</interval>
      <threshold>0.001</threshold>
      <widths>
            <width>1</width> 
            <width>2</width> 
            <width>4</width> 
            <width>8</width> 
      </widths>
    </object>

    <object name='qrs_bandpass'> 
      <data>bandpass</data> 
      <interval>10</interval>
      <threshold>0.001</threshold>
      <widths>
            <width>1</width> 
            <width>2</width> 
            <width>4</width> 
            <width>8</width> 
      </widths>
    </object>

    <object name='qrs_raw'> 
      <data>apls_raw</data> 
      <interval>10</interval>
      <threshold>0.001</threshold>
      <widths>
            <width>1</width> 
            <width>2</width> 
            <width>4</width> 
            <width>8</width> 
      </widths>
    </object>
  </QRSDetect>

  <Spectrum enable='True'>
<!--Draw spectra of the signals--> 
       <object name='raw'>
          <data>Raw</data>
       </object>
       <object name='apls_raw_s'>
          <data>apls_raw</data>
       </object>
       <object name='mva_s'>
          <data>mva</data>
       </object>
       <object name='mva1_s'>
          <data>mva1</data>
       </object>
       <object name='bandpass_s'>
          <data>bandpass</data>
       </object>      

  </Spectrum>

<graph name='filtered' enable='True'>
<!--Draw raw signal--> 
    <plot type='line'>
       <data>Raw</data>
       <label>Raw data</label>
       <trans>0.2</trans>
</plot>
<!--Baseline curve name is (_bg) in addition to the name of baseline object (for example if result of baseline substraction is called apls_raw then baseline curve has name apls_raw_bg--> 
  <plot type='line'>
       <data>apls_raw_bg</data>
       <label>Baseline of MVA signal</label>
       <trans>0.65</trans>
  </plot>

</graph>
<!--Draw signals after filtering--> 
<graph name='substr' type='plot'>
  <plot type='line'>
       <data>apls_raw</data>
       <label>Apls substraction from Raw signal</label>
       <trans>0.2</trans>
  </plot>
  <plot type='line'>
       <data>mva1</data>
       <label>Apls substraction from mva signal</label>
       <trans>0.6</trans>
  </plot>
  <plot type='line'>
       <data>bandpass</data>
       <label>Apls substraction from bandpass signal</label>
       <trans>1</trans>
  </plot>
  <plot type='scatter'>
       <data>peak_raw</data>
       <label>Peak detect raw signal</label>
       <trans>0.2</trans>
  </plot>
  <plot type='scatter'>
       <data>peak_mva</data>
       <label>Peak detect mva signal</label>
       <trans>0.2</trans>
  </plot>
  <plot type='scatter'>
       <data>peak_bandpass</data>
       <label>Peak detect bandpass signal</label>
       <trans>0.2</trans>
  </plot>
</graph>
<!--Draw curve after wavelet processing--> 
<graph name='wavelet' type='plot'>
  <plot type='line'>

       <data>qrs_raw_wave</data>
       <label>Wavelet analisis of APLS subst raw signal</label>
       <trans>0.2</trans>
  </plot>
  <plot type='line'>
       <data>qrs_mva_wave</data>
       <label>Wavelet analisis of APLS subst mva signal</label>
       <trans>0.6</trans>
  </plot>

  <plot type='line'>
       <data>qrs_bandpass_wave</data>
       <label>Wavelet analisis of APLS subst bandpass signal</label>
       <trans>1</trans>
  </plot>


  <plot type='scatter'>
       <data>qrs_raw</data>
       <label>Pulse dots of raw </label>
       <trans>0.2</trans>
  </plot>
  <plot type='scatter'>
       <data>qrs_mva</data>
       <label>Pulse dots of mva </label>
       <trans>0.6</trans>
  </plot>
  <plot type='scatter'>
       <data>qrs_bandpass</data>
       <label>Pulse dots of bandpass </label>
       <trans>1</trans>
  </plot>
</graph>

<hist>
<data label='Distance QRS peaks raw'>qrs_raw</data>
<data label='Distance QRS peaks mva'>qrs_mva</data>
<data label='Distance QRS peaks bandpass'>qrs_bandpass</data>
<data label='Distance peakdetect raw'>peak_raw</data>
<data label='Distance peakdetect mva'>peak_mva</data>
<data label='Distance peakdetect bandpass'>peak_bandpass</data>

</hist>


</root> 
